html
  body
    .container
      div
        track-navbar(creation-date='main.creationDate')
      .jumbotron.text-center
        h1 track-frontend
        p.lead Stub page for 
          a(href="https://github.com/expandrew/track-frontend") expandrew/track-frontend
        p.lead I'm still working on this
        a.lead(href="http://docs.expandrew.com") expandrew/track-docs
