<nav id="track-navbar" class="navbar navbar-default navbar-static-top">
  <div class="container">
    <div class="navbar-header">

      <!-- Responsive Menu Toggle Button --> 
      <button type="button" ng-click="navbar.toggle()" class="navbar-toggle collapsed"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>

      <!-- Brand -->
      <a ui-sref="home" class="navbar-brand"><span class="expandrew">track</span></a>

    </div>

    <div uib-collapse="navbar.collapsed" class="navbar-collapse">
      <ul class="nav navbar-nav">

        <li ui-sref-active="home"><a ui-sref="home" ng-click="navbar.collapse()">Home</a></li>

        <!-- User Menu on Mobile -->
        <li ng-show="!navbar.Session.token" class="visible-xs" ui-sref-active="login"><a ui-sref="login" ng-click="navbar.collapse()">Login</a></li>
        <li ng-show="navbar.Session.token" class="visible-xs" ui-sref-active="account"><a ui-sref="account" ng-click="navbar.collapse()">Account</a></li>
        <li ng-show="navbar.Session.token" class="visible-xs" ui-sref-active="logout"><a ng-click="navbar.logout(); navbar.collapse()">Logout</a></li>

      </ul>

      <!-- User Button -->
      <ul class="nav navbar-nav navbar-right">

        <!-- Log In Button -->
        <li ng-show="!navbar.Session.token" class="hidden-xs" ui-sref-active="login"><button class="btn btn-default navbar-btn" ui-sref="login">Log In</button></li>

        <!-- (Logged In) -->
        <li ng-show="navbar.Session.token" class="hidden-xs" ui-sref-active="login">
          <div class="btn-group" uib-dropdown is-open="status.isopen">
            <!-- User Button -->
            <button id="userMenu" type="button" class="btn btn-default navbar-btn" uib-dropdown-toggle ng-disabled="disabled">
              {{ navbar.Session.user.username || 'Account' }} <span class="caret"></span>
            </button>
            <!-- User Button Dropdown Menu -->
            <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="userMenu">
              <!-- <li role="menuitem"><a ui-sref="account">Account</a></li> -->
              <!-- <li class="divider"></li> -->
              <li role="menuitem"><a ng-click="navbar.logout()">Log Out</a></li>
            </ul>
          </div>
        </li>

      </ul>
    </div>
  </div>
</nav>